<nav class="col-2 bg-light sidebar">
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          Dashboard <span class="">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chaves cadastro
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/tiposimoveis">Tipo Imóvel</a>
            <a class="dropdown-item" href="/bairros">Bairros</a>
            <a class="dropdown-item" href="/chaves">Chaveiros</a>
            <!--
            <a class="dropdown-item" href="/chaves">Listar chaves</a>
              -->
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emprestimos">
          Emprestimos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devolucoes">
          Devoluções
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Integrations
        </a>
      </li>        
    </ul>

    <h6 class="sidebar-heading px-3 mt-4">
      <span>Saved reports</span>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Year-end sale
        </a>
      </li>
    </ul>
  
</nav>