<%#- include('../layouts/header')  %>
<%#- include('../layouts/menu') %>
<%#- include('../layouts/sidebar') %> 
<main role="main" class="col-10 ml-auto px-4">
    <div class="d-flex justify-content-between align-items-center mt-4 border-bottom pb-2 mb-3">
      <h1 class="h2">Cadastro de usuários</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-primary" href="/users/listar">Voltar</a>
          
        </div>
      </div>
  </div>

  <section class="row">
 
    <div class="col-12"> 
      <div class="card">
        <div class="card-header">Cadastrar</div>
        <br>
        <form class="col-6" method="POST" action="/users/salvar">
          <div class="form-group">
            <label for="descricao">Login:</label>
            <input type="text" class="form-control" id="" name="login" aria-describedby="emailHelp" placeholder="Ex: Aderbal">
          </div>
          <div class="form-group">
            <label for="descricao">Senha:</label>
            <input type="password" class="form-control" id="" name="password" aria-describedby="emailHelp" placeholder="Ex: 6 digitos">
          </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <br>
      </div>
    </div>
</section>
</main>
<%#- include('../layouts/footer') %>